.char-list {
    background-color: #242424;
    padding: 10px 10px 40px;
    border-radius: 5px;
    max-height: 900px;
    min-width: 670px;
    overflow-y: auto;
    position: absolute;
    top: -25vh;
    left: 50%;
    transform: translate(-50%);
    border-radius: 30px;
    text-align: center;
}

.char-list ul {
    margin: 0;
    padding: 10px 0 0;
    list-style: none;
    width: 100%;
}

.char-list li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s;
}

.char-list li:hover {
    background-color: #3a3a3a;
}

.char-list li img {
    width: 100px;
    height: auto;
    margin-right: 10px;
    flex-shrink: 0;
    object-fit: contain;
}

.char-list li .character-name {
    color: white;
    font-size: 1.2rem;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -5%;
}

.char-list li button {
    padding: 5px 10px;
    background-color: #4d4d4d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
}

.char-list li button:hover {
    background-color: #666666;
}

h2 {
    margin-bottom: -10px;
}

p {
    font-size: 0.9rem;
    font-style: italic;
    color: #999;
}

.search-container {
    position: relative;
    display: inline-block;
    width: 62%;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #999;
}

input {
    padding: 5px 5px 5px 40px;
    border-radius: 5px;
    /*border: none;*/
    width: 100%;
    height: 40px;
    box-sizing: border-box;
}

input:focus {
    border-color: #ff6347;
    outline: none;
}

.char-list li .used-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.char-list li .used-button {
    background-color: grey;
    cursor: not-allowed;
}

.char-list li .used-text {
    position: absolute;
    top: 100%;
    left: -572%;
    color: grey;
    font-size: 0.8em;
    margin-top: 5px;
    text-align: center;
    white-space: nowrap;
}