.grid-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.guess-counter {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    box-sizing: border-box;
    transition: background-color 2s, transform 2s;
}

.flash-red {
    background-color: red !important;
}

.flash-green {
    background-color: green !important;
}

.shake {
    animation: shake 1s;
}

@keyframes shake {
    0%, 100% { transform: rotate(0deg); }
    25% { transform: rotate(-2deg); }
    50% { transform: rotate(2deg); }
    75% { transform: rotate(-2deg); }
}

.grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    transition: filter 300ms ease;
    box-sizing: border-box;
}

.blurred {
    filter: blur(5px);
    pointer-events: none;
}

.row {
    display: flex;
    gap: 10px;
}

.cell, .label-cell {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #202325;
    border: 1px solid #8c8273;
    cursor: pointer;
    padding: 10px;
    box-sizing: border-box;
    font-size: 1em;
    text-align: center;
    overflow: hidden;
    white-space: normal;
    word-wrap: break-word;
}

.label-cell {
    background-color: #242424;
    border: none;
    cursor: default;
}

.cell:hover {
    background-color: rgba(42, 71, 95, 1);
}

.row:first-child .cell:first-child {
    background-color: rgba(42, 71, 95, 1);
}

.cell.top-left {
    border-top-left-radius: 10px;
}

.cell.top-right {
    border-top-right-radius: 10px;
}

.cell.bottom-left {
    border-bottom-left-radius: 10px;
}

.cell.bottom-right {
    border-bottom-right-radius: 10px;
}

/*.straw-hat {*/
/*    width: 50%;*/
/*    height: 50%;*/
/*    !* filter: invert(33%) sepia(93%) saturate(3904%) hue-rotate(4deg) brightness(105%) contrast(102%); *!*/
/*    !* https://codepen.io/sosuke/pen/Pjoqqp *!*/
/*}*/

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 120vh;
    margin: calc(50% - 60vh) calc(50% - 50vw);
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
    z-index: 999;
}

.modal-content {
    /*background: #3a3a3a;*/
    padding: 20px;
    border-radius: 8px;
    z-index: 1000;
    position: relative;
}

.guess-counter.game-over {
    background-color: red;
}
